<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2020 Lumina Networks, Inc. All Rights Reserved.

This program and the accompanying materials are made available under the
terms of the Eclipse Public License v1.0 which accompanies this distribution,
and is available at http://www.eclipse.org/legal/epl-v10.html
-->
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework " level="warn" />
    <logger name="org.opendaylight.saf" level="info" />
    <logger name="org.opendaylight.jsonrpc" level="debug" />
</configuration>